$color-title-light: #BFFF0A;
$color-title-dark: #5547FF;

$color-photo-secondary: #FF7AC9;
$color-photo-hero: #5547FF;

$color-bg-block: #5547FF;
$color-bg-page: #F0EEED;

$color-font-primary: #F0EEED;
$color-font-secondary: #050505;

$color: #E6D9D2;
